#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-container{
    min-width: 250px;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    gap: 30px;
}

.pfp{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 24px;
}

.intro{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    gap: 0px;
    column-gap: 0px;
} 

.intro h1, .intro h3{
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .intro{
        gap: 10px
    }
    #home-container{
        max-width: 70%;

    }

    .pfp{
        height: 200px;
        width: 145px;
        border-radius: 10px;

    }
    .intro h1 {
        line-height: 1;
    }
    
}