#skills {
    height: 100%;
    width: 100vw;
    margin: 50px 0px 200px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 65%;
    padding: 20px;
}

#skills .title{
    text-align: center;
}

.skillset{
    display: flex;
    text-align: left;
    align-content: center;
    align-items: stretch;
}

.skills-titles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    padding: 10px;
}

.skills-boxes{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}

.skills-box{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(208, 240, 132);
}

.skill {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-height: 40px;
    padding: 2px 10px;
    border-radius: 6px;
    transition: 0.15s ease-in-out;
    background-color: #FEFFFD; 

    &:hover{
        box-shadow: 0 0 10px #96CB23;
        scale: 103%;
    }
}

.skill img{
    height: 20px;
    width: 20px;
    
}

@media only screen and (max-width: 700px) {
    .skill{
        font-size: 8pt;
        height: 30px;
    }

    .skill img{
        height: 10px;
        width: 10px;
    
    }
}