#about {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container{
    min-width: 200px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
}
#about .title{
    text-align: center;
}

.about-list li{
    margin: 20px;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 28pt;
    }

    .about-list{
        padding-left: 20px;
        font-size: 10pt;
    }

    .about-list p{
        font-size: 10pt;
    }
}