
#navbar-container{
    position:fixed;
    top: 0;
    height: 100vh;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.menu-icon {
    width: 50;
    cursor: pointer;
}

.navbar-list {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.navbar-list li a{
    font-weight: 500;
    display: inline-block;
    width:100%;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.10s ease-in;
    text-decoration: none;
    text-shadow: 0px 0px 50px #FEFFFD;
}

.home-nav {
    color:#281f06;
    &:hover{
        text-shadow: 0px 0px 2px #4b3007;
    }
}

.about-nav {
    color:#474df5;
    &:hover{
        text-shadow: 0px 0px 2px #a8aaf4;
    }
   
}

.projects-nav {
    color:#FFBB00;
    &:hover{text-shadow: 0px 0px 2px #FFEC18;}
}

.skills-nav {
    color:#7FB50B;
    &:hover{text-shadow: 0px 0px 2px #8dc612;}
}

.contact-nav {
    color:#FC6E6E;
    &:hover{text-shadow: 0px 0px 2px #FC6E6E;}
}

@media only screen and (max-width: 768px) {
    .navbar-list li a{
        font-size: 10pt;
        line-height: 1;
    }
}