.App{
  background: #FEFFFD;
}

* {
  font-family: 'Lexend Exa', sans-serif;

  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 42pt;
  font-weight: 400;
  font-style: normal;

}

h2 {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 28pt;
}

h3 {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 16pt;
  font-weight: 400;

}

p{
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -8%;
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 28pt;
    }

    h3 {
        font-size: 10pt;
    }

    p{
        font-size: 9pt;

    }
}

